/* /////////////////////// */
/* common style */
/* /////////////////////// */
.header,
.main__nav-list,
.hero-section,
.info-section,
.collections-container,
.collection,
.testimonial-section,
.testimonial-container,
.cta-section,
.cta__container,
.footer {
  display: flex;
}

.header,
.hero-section,
.footer {
  background-color: #1f2937;
}

.header,
.hero-section p,
.hero-section a,
.footer p {
  color: #e5e7eb;
}

/* /////////////////////// */
/* header */
/* /////////////////////// */
.header {
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.main__nav-list {
  gap: 4rem;
}

/* .nav__link:link,
.nav__link:visited {
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.1s;
}

.nav__link:hover,
.nav__link:active {
  border-bottom: 2px solid #f9faf8;
} */
/* /////////////////////// */
/* Hero Section */
/* /////////////////////// */
.hero-section {
  gap: 2rem;
  justify-content: center;
}

.hero-section__container h1 {
  line-height: 1.4;
  color: #f9faf8;
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: 4.8rem;
  padding-bottom: 1rem;
}

.hero-section__container p {
  margin-bottom: 2rem;
}

.hero-section__img {
  height: 100%;
  width: 55%;
}

.hero__btn-link:link,
.hero__btn-link:visited {
  background-color: #3882f6;
}

.hero__btn-link:hover,
.hero__btn-link:active {
  color: #1f2937;
  background-color: #f9faf8;
}

/* /////////////////////// */
/* info Section */
/* /////////////////////// */

.info-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* secondary header */
.info-section h2 {
  font-size: 3.6rem;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 8rem;
}

.collections-container {
  gap: 4rem;
}

.collection {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 20rem;
}
.info-section__img {
  height: 20rem;
  width: 20rem;
  border-radius: 10px;
}

/* /////////////////////// */
/* Testimonial Section */
/* /////////////////////// */

.testimonial-section {
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.testimonial-container {
  flex-direction: column;
  gap: 2rem;
  max-width: 93rem;
}

.testimonial-container p {
  font-size: 3.6rem;
  font-style: italic;
}

.testimonial-quote {
  color: #1f2937;
  font-size: 1.8rem;
  text-align: end;
}

/* /////////////////////// */
/* cta Section */
/* /////////////////////// */
.cta-section,
.cta__container {
  align-items: center;
  justify-content: center;
}

.cta__container {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5rem 2rem;
  width: 100rem;
  gap: 20rem;
}

.cta__container h3 {
  font-size: 2.2rem;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0.8rem;
}

.cta__btn-link:link,
.cta__btn-link:visited {
  border: 1px solid #e5e7eb;
  color: #f9faf8;
}

.cta__btn-link:hover,
.cta__btn-link:active {
  color: #f9faf8;
  background-color: #1f2937;
}

/* /////////////////////// */
/* footer */
/* /////////////////////// */
.footer {
  align-items: center;
  justify-content: center;
}
